body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    ;
}
html,body{
    height: 100%;
	position: relative;
    z-index: 2;
}
.container {
    border: 1px solid black;
}
body{
    font-size: 14px;
    background: #fff;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
}

a,a:hover,a:active,a:focus{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    text-transform: capitalize;
}
p{
    margin: 0;
    font-size: 14px;
}
img{
    border: none;
    max-width: 100%;
    height: auto;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
ul li{
    list-style: none;
}
select,input,textarea{
    box-shadow:none;
    outline:0!important;
}
.wrapper{
    position: relative;
    z-index: -1;
}
/* Header  */
.header{
    padding-top: 20px;
    padding-bottom: 12px;
}
.header li a{
    color: #888;
    outline: 0;
}
.book-info-left li{
    display: inline-block;
    margin-right: 50px;
    font-size: 18px;
    font-family:'Poppins', sans-serif;
}
.pull-left ul li a{
    text-decoration: none;
}
.book-info{
    float: right;
}
.book-info-left li :hover {
	color: #7370d8;
}
.book-info li{
    display: inline-block;
}
.book-info li a{
    font-size: 18px;
    font-family:'Poppins', sans-serif;
    padding-bottom: 7px;
    transition: 0.5;
}
.book-info li :hover{
    color: #7370d8;
}
.reg a{
    margin-right: 5px;
    margin-left: 5px;
}
.book-info .social-icons{
    display: inline-block;
}
.social-icons{
    margin-left: 6px;
    top: 0;
}
.social-icons li{
    display: inline-block;
}
.social-icons li a{
    margin-left: 14px;  
}
/* Header : the end */
.menu{
    z-index: 999;
}
.Brand,Brand:hover,Brand:focus{
     margin-top: 25px;
     padding: 0;
}

.Wrapper-sticky{
    position: relative;
    display: block;
    height: 105px;
    width: auto;
    margin: auto;
    inset: auto;
    background-color:rgba(115,112,216,1); 
}
.menu-bar ul li{
 display: inline-block;
}
.menu-bar ul li a{
    background: transparent;
    color: #fff;
    font-family:'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 18px;
    padding-left: 27px;
    padding-bottom: 25px;
}
.menu-bar .search a{
  top:16px;
}
.menu-bar .search input{
    top: 40px;
}
.search input {
    position: absolute;
    top:60px;
    right: -17px;
    width: 15px;
    height: 20px;
    border-radius: 4px;
    font-size: 14px;
    padding:20px;
    border: 1px solid #ccc;
    z-index: 1;
    opacity:0;
}
.search input.active{
	border-radius: 0 4px;
}
/* Menu-bar : the end */


























/* About us */
.About-us{
    background: #f9faff;
    padding: 120px 0 175px;
}
.About-us .content{
    margin-top: 103px;
}
.About-us h2{
    color: #4d4e54;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
.About-us p{
   color: #888;
    font-size: 16px;
    font-family:'Poppins', sans-serif; 
    line-height: 1.7;
    margin-top: 28px;
    margin-bottom: -18px;
}
.About-us .Project-button{
    margin-top: 49px;
    letter-spacing: 1.2px;
}
.About-us .Project-button a{
    text-decoration: none;
    color: #fff;
    background-color: #7370d8;
    border: 1px solid #7370d8;
    width: 185px;
    height: 52px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;  
}
.About-us .Project-button a:hover{
    background-color: #fff;
    color: #7370d8;
}
.about-us-img {
    position: relative;
    box-shadow: 0 10px 30px rgba(112, 134, 230, 0.2);
    z-index: 1;
}
.about-us-img:before{
  position: absolute;
  content: " ";
  top: 55px;
  left: -23px;
  border: 3px solid #ebecfb;
  width:100%;
  height: 100%;
  z-index: -1;
}
/* About us : the end */
/* Service */
.Services{
    padding:116px 0 85px;
}
.Services-header{
    margin-bottom: 30px;
}
.Services-header h2{
 color: #44454f;
 font-size: 30px;
 font-family:'Playfair Display', serif;
 font-weight: 700;
}
.Services-header p{
    color: #888;
    font-size: 16px;
    font-family:'Poppins', sans-serif; 
    margin: 28px 0 auto;
    line-height: 1.8;
}
.Services-details{
    margin-top: 42px;
    margin-bottom: 60px;
}
.Services-details .Service-single{
    border: 1px solid #fff; 
    max-width: 304px;
    margin: 0 auto 15px;
}
.Service-single:hover{
    box-shadow:0 5px 20px rgba(112,134,230,.2);
	opacity: 1;
}
.Service-single .Service-img img{
    height: 65px;
    margin-top: 30px;
}
.Service-text h2 a{
    color: #44454f;
    font-size: 24px;
    font-family:'Playfair Display', serif;
    padding: 47px 0 25px;
}
.Service-text p{
    color: #756c6a;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.67;
}
a.service-btn{
    color:#7370d8;
    font-size: 16px;
    font-family:'Poppins', sans-serif; 
    text-transform: capitalize;
    margin-top: 12px;
    margin-bottom: 15px;
    text-decoration: none;
}
/* Service:the end */
/* statistics */
.statistics{
    position: relative;
    background-image: url(../image/counter-banner.jpg);
    background-position: center;
    background-size: cover;
    padding: 98px 0 81px;
}
.statistics:before{
    position: absolute;
    content: " ";
    background: rgba(115,112,216,.8);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.statistics-counter{
    display: flex;
    z-index: 1;
} 
.single-statistics-box{
    display: flex;
    margin-bottom:30px;
	height: 75px; 
}
.statistics-content{
    margin-left: 28px;
}
.statistics-content .counter{
    color:#fff;
	font-size:32px;
	font-family: 'Poppins', sans-serif;
}
.statistics-content h3{
	color:#fff;
	font-size:20px;
	text-transform:capitalize;
	font-family: 'Poppins', sans-serif;
	margin-top: 9px;
	line-height: 1.5;
}
/* statistics : the end */
/* Project */
.Project{
    padding: 117px 0 109px;
}
.Project-detail h2{
    color: #44454f;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
.Project-detail p{
    color: #888;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    max-width: 470px;
    margin-top: 32px
}

/* Project:the end */