body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    ;
}

html,
body {
    height: 100%;
    position: relative;
    z-index: 2;
}

.container {
    border: 1px solid black;
}

body {
    font-size: 14px;
    background: #fff;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
}

a,
a:hover,
a:active,
a:focus {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-transform: capitalize;
}

p {
    margin: 0;
    font-size: 14px;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    list-style: none;
}

select,
input,
textarea {
    box-shadow: none;
    outline: 0 !important;
}

.wrapper {
    position: relative;
    z-index: -1;
}

/* Header  */
.header {
    padding-top: 20px;
    padding-bottom: 12px;
}

.header li a {
    color: #888;
    outline: 0;
}

.book-info-left li {
    display: inline-block;
    margin-right: 50px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.pull-left ul li a {
    text-decoration: none;
}

.book-info {
    float: right;
}

.book-info-left li :hover {
    color: #7370d8;
}

.book-info li {
    display: inline-block;
}

.book-info li a {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 7px;
    transition: 0.5;
}

.book-info li :hover {
    color: #7370d8;
}

.reg a {
    margin-right: 5px;
    margin-left: 5px;
}

.book-info .social-icons {
    display: inline-block;
}

.social-icons {
    margin-left: 6px;
    top: 0;
}

.social-icons li {
    display: inline-block;
}

.social-icons li a {
    margin-left: 14px;
}

/* Header : the end */
/* slider */
.slider-section {
    position: relative;
    z-index: 1;
}

.slide-content h2 {
    color: #fff;
    font-size: 70px;
    font-weight: 500;
    line-height: 1.7;
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
}

.slide-content p {
    color: #fff;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    margin-bottom: 51px;
}

.slide-btn {
    background: #f5f5fb;
    padding: 17px 50px;
    color: #5549af;
    border: 1px solid #f5f5fb;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    margin-right: 16px;
    margin-bottom: 55px;
    transition: 0.5;
}

.owl-item-slider-1 {
    background-image: url(../image/banner1.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    padding-top: 184px;
    padding-bottom: 192px;
}

.owl-item-slider-2 {
    background-image: url(../image/banner2.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    padding-top: 184px;
    padding-bottom: 192px;
}

.slide-btn:hover {
    background: transparent;
    border: 1px solid #f9faff;
    color: #f5f5fb;
}

.owl-item-slider-1:before,
.owl-item-slider-2:before {
    background: rgba(115, 112, 215, .6);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
}

/* slider:the end */
/* menu */
.Brand,
Brand:hover,
Brand:focus {
    margin-top: 25px;
    padding: 0;
}

.Menu {
    /* position: fixed;
    display: block; */
    height: 105px;
    background-color: rgba(115, 112, 216, 1);
}

.menu-bar ul li {
    display: inline-block;
}

.menu-bar ul li a {
    background: transparent;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 18px;
    padding-left: 27px;
    padding-bottom: 25px;
}

.menu-bar .search a {
    top: 16px;
}

.menu-bar .search input {
    top: 40px;
}

.search input {
    position: absolute;
    top: 60px;
    right: -17px;
    width: 15px;
    height: 20px;
    border-radius: 4px;
    font-size: 14px;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1;
    opacity: 0;
}

.search input.active {
    border-radius: 0 4px;
}

/* Menu-bar : the end */
/* we-do */
.we-do {
    padding: 115px 0 82px;
}

.we-do-details {
    margin-top: 42px;
    margin-bottom: 60px;
}

.single-we-do-box {
    background-color: #fff;
    box-shadow: 0 0 5px rgb(35 37 41 / 10%);
    min-height: 345px;
    padding-top: 60px;
    margin-top: 15px;
    overflow: hidden;
    transition: 0.5s;
}

.single-we-do-box:hover {
    box-shadow: 0 0 20px rgb(36 38 42 / 10%);
}

.we-do-info {
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
}

.we-do-img img {
    margin-right: 5px;
    transition: 0.5s;
}

.we-do-topics {
    margin-top: 32px;
    margin-bottom: 27px;
}

.we-do-topics h2 a {
    font-size: 20px;
    color: #44454f;
}

.we-do-comment {
    margin-top: 15px;
}

.we-do-comment p {
    color: #888;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    max-width: 306px;
    margin: 0 auto;
}

/* we-do:the end */

/* About us */
.About-us {
    background: #f9faff;
    padding: 120px 0 175px;
}

.About-us .content {
    margin-top: 103px;
}

.About-us h2 {
    color: #4d4e54;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.About-us p {
    color: #888;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    margin-top: 28px;
    margin-bottom: -18px;
}

.About-us .Project-button {
    margin-top: 49px;
    letter-spacing: 1.2px;
}

.About-us .Project-button a {
    text-decoration: none;
    color: #fff;
    background-color: #7370d8;
    border: 1px solid #7370d8;
    width: 185px;
    height: 52px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
}

.About-us .Project-button a:hover {
    background-color: #fff;
    color: #7370d8;
}

.about-us-img {
    position: relative;
    box-shadow: 0 10px 30px rgba(112, 134, 230, 0.2);
    z-index: 1;
}

.about-us-img:before {
    position: absolute;
    content: " ";
    top: 55px;
    left: -23px;
    border: 3px solid #ebecfb;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* About us : the end */
/* Service */
.Services {
    padding: 116px 0 85px;
}

.Services-header {
    margin-bottom: 30px;
}

.Services-header h2 {
    color: #44454f;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.Services-header p {
    color: #888;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 28px 0 auto;
    line-height: 1.8;
}

.Services-details {
    margin-top: 42px;
    margin-bottom: 60px;
}

.Services-details .Service-single {
    border: 1px solid #fff;
    max-width: 304px;
    margin: 0 auto 15px;
}

.Service-single:hover {
    box-shadow: 0 5px 20px rgba(112, 134, 230, .2);
    opacity: 1;
}

.Service-single .Service-img img {
    height: 65px;
    margin-top: 30px;
}

.Service-text h2 a {
    color: #44454f;
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    padding: 47px 0 25px;
}

.Service-text p {
    color: #756c6a;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.67;
}

a.service-btn {
    color: #7370d8;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    margin-top: 12px;
    margin-bottom: 15px;
    text-decoration: none;
}

/* Service:the end */
/* statistics */
.statistics {
    position: relative;
    background-image: url(../image/counter-banner.jpg);
    background-position: center;
    background-size: cover;
    padding: 98px 0 81px;
}

.statistics:before {
    position: absolute;
    content: " ";
    background: rgba(115, 112, 216, .8);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.statistics-counter {
    display: flex;
    z-index: 1;
}

.single-statistics-box {
    display: flex;
    margin-bottom: 30px;
    height: 75px;
}

.statistics-content {
    margin-left: 28px;
}

.statistics-content .counter {
    color: #fff;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}

.statistics-content h3 {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    margin-top: 9px;
    line-height: 1.5;
}

/* statistics : the end */
/* Project */
.project {
    padding: 117px 0 109px;
}

.project-content {
    margin-top: 62px;
}

.project-header h2 {
    color: #44454f;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.project-header p {
    color: #888;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    max-width: 470px;
    margin-top: 32px;
}

.isotope:after {
    content: '';
    display: block;
    clear: both;
}

.isotope .col-sm-6 {
    width: auto;
}

.isotope .item {
    float: left;
    height: 286px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.isotope .item.big-height {
    height: 604px;
}

.isotope .item img {
    width: 100%;
    height: 100%;
    transition: .5s;
}

.isotope .item:hover img {
    transform: scale(1.5);
}

.isotope-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(115, 112, 216, .75);
    display: flex;
    align-items: center;
    text-transform: capitalize;
    justify-content: center;
    flex-direction: column;
    transform: scale(0);
    transition: .7s;
}

.isotope-overlay h3 a,
.isotope-overlay a {
    color: #fff;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
}

.isotope-overlay h3 a {
    margin-top: 20px;
}

.isotope-overlay p {
    color: #fff;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    margin-top: 15px;
}

.isotope .item:hover .isotope-overlay {
    transform: scale(1);
    top: 0;
}

.project-btn {
    margin-top: 49px;
    letter-spacing: 1.2px;
}

.project-view {
    background: #7370d8;
    border: 1px solid #7370d8;
    width: 185px;
    height: 52px;
    line-height: 50px;
    white-space: nowrap;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.project-view:hover {
    color: #7370d8;
    background: transparent;
}

/* Project:the end */
/* Our team */
.Team {
    padding: 120px 0;
    background-color: #908ddc;
}

.Team-detail {
    color: #fff;
}

.Team-detail h3 {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.Team-detail p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    max-width: 470px;
    margin-top: 32px
}

.team-card {
    padding: 75px 0 0 0;
}

.single-team-box {
    position: relative;
    width: 260px;
    height: 352px;
    transition: 0.5s ease-in-out;
}

.team-box-bg-1 {
    background: url(../image/team.jpg);
}

.team-box-bg-2 {
    background: url(../image/team3.jpg);
}

.team-box-bg-3 {
    background: url(../image/team2.jpg);
}

.team-box-bg-4 {
    background: url(../image/team3.jpg);
}

.team-box-inner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 19px 0 0 30px;
    background: rgba(65, 62, 126, .8);
    height: 90px;
    transition: 0.7s;
}

.team-box-inner h3 {
    color: #fff;
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
    font-family: 'Poppins', sans-serif;
}

.team-box-inner .team-meta {
    display: block;
    color: #fff;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    transition: 0.7s;
}

a.learn-btn,
a:hover.learn-btn,
a:focus.learn-btn {
    color: #7086e6;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 8px;
    padding-bottom: 18px;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.single-team-box:hover a.learn-btn {
    opacity: 1;
}

.single-team-box:hover .team-box-inner {
    height: 100px;
}

.single-team-box:hover {
    box-shadow: 5px 5px 30px 5px rgba(65, 62, 126, .2);
}

.single-team-box.single-team-card:hover {
    box-shadow: 0px 5px 35px 5px rgba(6, 5, 49, .2);
}

/* our team : the end */


/* Pricing */
.Pricing {
    padding: 115px 0 78px;
}

.Pricing-detail h2 {
    color: #44454f;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 3.5px;
    margin-bottom: 35px;
}

.Pricing-detail p {
    color: #888;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    max-width: 1000px;
    margin: 32px auto;
    line-height: 1.8;
    text-align: center;
}

.Pricing-content {
    padding-top: 85px;
}

.Pricing-box {
    background: #fcfcff;
    text-align: center;
    padding: 0px 0px 40px;
    border-radius: 5px;
    margin-bottom: 30px;
    opacity: .6;
    transition: all 0.3s linear;
}

.Pricing-Header {
    background: #7370d8;
    padding-top: 25px;
    padding-bottom: 28px;
    transition: all 0.3s linear;
}

.Pricing-Header h2 {
    font-size: 24px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

.Pricing-Header h3 {
    color: #fff;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    padding: 11px 0 11px;
    transition: all 0.3 linear;
}

.Pricing-Header p {
    color: #fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
}

.plan-lists {
    display: inline-grid;
    margin-top: 28px;
    list-style: none;
}

.plan-lists li {
    font-size: 16px;
    line-height: 40px;
    color: #888;
    text-transform: capitalize;
    transition: all 0.3 linear;
}

.pricing-btn {
    margin-top: 49px;
    letter-spacing: 1.2px;
}

.pricing-btn .project-view {
    color: #fff;
    text-transform: capitalize;
}

.project-view {
    background: #7370d8;
    border: 1px solid #7370d8;
    width: 185px;
    height: 52px;
    line-height: 50px;
    white-space: nowrap;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.Pricing-box:hover {
    box-shadow: 0px 0px 30px 0px rgba(115, 120, 216, 0.3);
    opacity: 1;
}

.project-btn.pricing-btn a:hover {
    color: #7370d8;
}

/* Pricing:the end */
/* testmional */
.testimonial {
    padding: 116px 0 89px;
    position: relative;
    background: #f9faff;
}

.section-header h2 span {
    color: #4d4e54;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.single-testimonial-slider {
    padding-top: 49px;
}

.client-avater {
    display: flex;
}

.client-meta h3 a {
    color: #7370d8;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}

.client-meta h4 {
    color: #888;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 14px 0 0px;
}

p.testimonial-body {
    color: #888;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.5px;
    padding: 15px 0 30px;
}

.last-icon {
    padding-top: 50px;
    color: #c3c3ef;
    font-size: 40px;
}

.client-avater img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    border: 2px solid #7370d8;
}

/* testmional : the end */
/* clients */
.clients {
    background-color: #7370d8;
    padding: 58px 0 0;
}

.clients-area {
    padding: 35px 0 60px;
    position: relative;
}

/* clients : the end */
/* news */
.news {
    padding: 114px 0 95px;
}

.section h2 {
    color: #4d4e54;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.section p {
    color: #888;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 32px;
    line-height: 1.8;
}

.news-card {
    padding-bottom: 25px;
    margin-top: 70px;
}

.single-news-box {
    box-shadow: 0 5px 30px 0 rgb(115 112 215 / 20%);
    min-height: 504px;
    margin-bottom: 13px;
    transition: .5s;
    overflow: hidden;
}

.news-box-bg img {
    position: relative;
    transition: 0.5s;
    transform: scale(1);
}

.icons {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.single-news-box:hover .news-box-bg img {
    transform: scaleY(1.05);
}

.news-box-inner {
    padding: 30px 30px 20px 20px;
    transition: 0.5s;
}

.news-box-inner h3 a {
    color: #4d4e54;
    display: block;
    font-size: 16px;
    margin-bottom: 17px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 600;
    line-height: 1.4;
}

.news-box-inner span {
    color: #908edf;
}

.news-box-bg {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(115, 112, 216, .75);
    transition: .7s ease;
    transform: scale(0);
}

.overlay a.icons {
    font-size: 30px;
}

.overlay a.icons:hover {
    color: #fff;
}

.news-box-bg:hover .overlay {
    transform: scale(1.05);
}

.project-btn .project-view:hover {
    background-color: #f9faff;
    border: 1px solid #5549af;
    color: #5549af;
}

/* news : the end */
/* contact */
.contact {
    position: relative;
    padding: 115px 0 120px;
    background-image: url(../image/map.jpg);
    background-position: center;
    background-size: cover;
}

.contact::before {
    position: absolute;
    content: " ";
    background: rgba(115, 112, 216, .8);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.section-header h2,
.section-header p {
    position: relative;
    color: #fff;
}

.section-header p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 32px;
    line-height: 1.8;
}

.contact-form h3 {
    color: #fff;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.contact-content {
    margin-top: 30px;
    overflow: hidden;
}

.contact-form {
    position: relative;
    margin: 50px 0 0 0;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form .form-control {
    padding: 24px 21px;
    font-size: 16px;
    border: 1px solid #f9faff;
    box-shadow: none;
    border-radius: 0px;
    outline: 0;
    background: #f9faff;
    color: #888;
    resize: none;
}

.contact-form .form-group {
    padding-bottom: 7px;
}

.contact-form .single-contact-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7370d8;
    height: 50px;
    width: 195px;
    border: 1px solid #7370d8;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin-top: 3px;
    transition: .5s;
}

.contact-form .single-contact-btn button.contact-btn,
.contact-form .single-contact-btn button.contact-btn:focus {
    margin-top: 0px;
    outline: 0;
    border: 0;
    color: #fff;
    letter-spacing: 2.5px;
    border-radius: 0px;
    font-size: 14px;
    transition: .5s;
}

.single-contact-btn:hover button.contact-btn {
    color: #7370d8;
    background: #fff;
    border: 1px solid #7370d8;
}

.contact-right {
    display: flex;
}

.contact-address {
    margin: 68px 0 0px;
    display: flex;
    flex-direction: column;
}

.contact-office-address {
    margin-bottom: 18px;
    color: #fff;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    z-index: 1;
}

.contact-office-address p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 14px;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
}

.contact-online-address {
    color: #fff;
    font-size: 14px;
}

.single-online-address {
    position: relative;
    margin-bottom: 30px;
}

.single-online-address i {
    padding-right: 7px;
}

.single-online-address span {
    position: absolute;
    font-size: 14px;
    left: 25px;
    top: 0;
    width: 100%;
}

.contact-icon {
    margin-top: 19px;
}

.contact-icon ul li {
    float: left;
}

.contact-icon ul li>a {
    color: #fff;
    margin-right: 13px;
    padding: 0px 12px 0px 0px;
    transition: .3s;
}

/* contact us : the end */
/* New project */
.new-project {
    padding: 72px 0 72px;
    background: #7370d8;
}

.single-new-project h3 {
    color: #fff;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

.single-new-project .slide-btn {
    display: inline-block;
    padding: 17px 24px;
    background: transparent;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    transition: 0.5s;
}

.single-new-project .slide-btn:hover {
    background: #f5f5fb;
    color: #5549af;
    border: 1px solid #f5f5fb;
}

/* New Project : the end */
/* footer */
.hm-footer {
    padding-bottom: 68px;
    background-color: #212135;
}

.hm-footer-details {
    margin-top: 120px;
}

.hm-footer-widget {
    margin-bottom: 30px;
}

.hm-foot-title .logo {
    margin-bottom: 32px;
}

.hm-foot-para p {
    color: #aaa;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-transform: initial;
    max-width: 260px;
}

.hm-foot-icon {
    margin-top: 33px;
}

.hm-foot-icon ul {
    display: inline-flex;
    margin-left: -11px;
    list-style: none;
}

.hm-foot-icon ul li {
    width: 32px;
    height: 32px;
    background: #aaa;
    line-height: 32px;
    text-align: center;
    margin-left: 10px;
    border-radius: 5px;
    transition: all 0.2s linear;
}

.hm-foot-icon ul li>a>i {
    color: #212135;
}

.hm-foot-icon ul li:hover {
    background: #fff;
}

.hm-footer-widget {
    margin-bottom: 30px;
}

.hm-foot-title h4 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 32px;
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
}

.footer-menu ul {
    display: grid;
}

.footer-menu li a {
    font-size: 14px;
    color: #aaa;
    padding-bottom: 20px;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

.hm-para-news a {
    color: #888;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-transform: initial;
    max-width: 258px;
    margin-bottom: 8px;
    transition: all 0.2s linear;
}

.hm-para-news span {
    color: #aaa;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}

.footer-line {
    padding: 30px 0 35px;
}

.hm-foot-email {
    display: flex;
    margin-top: 35px;
}

.foot-email-box input[placeholder="Email Address"] {
    color: #8b8b8b;
    font-size: 16px;
}

.foot-email-box .form-control {
    background: #3d3d4d;
    display: block;
    padding: 32px 32px 33px;
    height: 54px;
    box-shadow: none;
    border: 0;
    border-radius: 0;
}

.foot-email-subscribe button {
    width: 65px;
    height: 65px;
    background: #7370d8;
    color: #fff;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    border: 0;
}

.footer-copyright {
    background: #1a1a2a;
    padding: 30px 0 35px;
}

.foot-copyright {
    color: #8b8b8b;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

/* foot-menu  */
.foot-menu ul li {
    float: left;
    padding-left: 15px;
    text-transform: capitalize;
}

.foot-menu li a {
    color: #8790af;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    transition: all 0.2s linear;
}

.foot-menu li {
    position: relative;
    padding-left: 42px;
}

/* footer :the end */
/* scroll */
#scroll-Top .return-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 40px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    z-index: 15;
    color: #fff;
    background: #7370d8;
    border: 1px solid #7370d8;
    border-radius: 5px;
    transition: 0.5s;
}

#scroll-Top .return-to-top:hover {
    background: #7370d8;
    color: #fff;
    border: 1px solid #7370d8;
    border-radius: 50%;
}

/* scroll : the end */
/* ................................................................................................................... */
/* Sub-pages */
/* About-page */
/*sub-page: title */
.about-part{
    position: relative;
    background: url(../image/about-banner\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    padding: 124px 0 144px;
    z-index: 1;
}
.about-part:before{
    position: absolute;
    content: '';
    background: rgba(115,112,216,.6);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.about-part-details h2{
 position: relative;
 color: #fff;
 font-size: 40px;
 font-weight: 700;
 font-family: 'Playfair Display', serif;
 margin-bottom: 3px;
 left: 15px;
}
.about-part-content {
    position: relative;
}
.details-text {
    background-color:transparent;
    display: inline-flex;
}
.details-text>li+li:before {
    padding: 0 0px;
    color:transparent;
    content: "";
}
.details-text li>a{
	color:#dddcff;
	font-size:20px;
	font-weight:500;
	font-family: 'Playfair Display', serif;
	text-transform:capitalize;
}
.details-text li{
	color:#dddcff;
    text-decoration: none;
}
.details-text li span {
    margin-left:8px;
	margin-right: 4px;
	font-size:20px;
}
/* title-page-the end */
/* sub-page 2: our history */
.About-History{
    padding: 115px 0 90px;
}
.About-history-img img{
    box-shadow: 0 0 20px rgba(112, 134, 230, .2);
    height: 435px;
}
.About-History-content h2{
	font-size:30px;
	font-family: 'Playfair Display', serif;
	font-weight: 600;
	padding: 16px 0 20px 0;
}
.About-History-content p{
    color:#888;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	line-height: 1.7;
}
/* Our history : the end */
/* Timeline: start */
.Main-timeline{
    position: relative;
    margin-top: 39px;
    transition: all 0.4s ease 0s;
}
.Main-timeline:before{
    content: "";
    width: 1px;
    background: #dbdbdb;
    position: absolute;
    top: 5.2%;
    left: 14.5%;
    height: 80%;
}
.year-time h3{
    font-size: 16px;
    color: #4d4e54;
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 14px;
}
.timeline-content{
    position: relative;
    left: 65px;
    top: -20px;
    margin-left: 5px;
    transition: all 0.3s ease 0s;
}
.timeline-content span>i{
    display: inline-block;
    color: #7370d8;
    position: relative;
    background: #fff;
}
.timeline-content .description{
    font-size: 14px;
    color: #888;
    margin-left: 45px;
    margin-top: -30px;
    font-family: 'Poppins', sans-serif;
}
/* Vision */
.vision{
    padding: 115px 0 90px;
}
.vision .About-History-content h2 {
    padding: 16px 0 20px 0;
}
.vision .timeline-content {
    position: relative;
    margin-top: 39px;
    transition: all 0.4s ease 0s;
    left: -7px;
    width: 500px
}
.Mission-img img{
    box-shadow: 0 0 20px rgba(112, 134, 230, .2);
    height: 435px;
}
/* About-page: the end */
/* Service */
.about-part.service-part{
    background: url(../image/service-banner.jpg) no-repeat center;
}
/* Service : the end */
/* Project */
.about-part.Project-part{
    background: url(../image/project-banner.jpg) no-repeat center;
}
/* Project : the end */
/* Team */
.about-part.Team-part{
  background: url(../image/team-banner.jpg) no-repeat center;
}
.team-card.team-mrt-70 {
    margin-top: -70px;
}
.Team.Team-centre{
    background-color: #fff;
}
.Team.Team-centre .Team-detail h2{
    color: #000;
}
.Team.Team-centre .Team-detail p{
    color: #000;
    margin: 0 auto;
    margin-top: 32px;
}
/*Team : the end */
/* Contact */
.about-part.Contact-part{
    background: url(../image/about-banner.jpg);
}
/* contact: the end */
/* Blog */
.about-part.Blog-part{
    background: url(../image/blog-banner.jpg)no-repeat center;
}
.blog-left{
    display: flex;
}
.single-news-box {
    margin-right: 30px;
    margin-bottom: 20px;
}
.overlay .vedio-play-icon .fa-play-circle-o{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 70px;
}
/* Pagaination : start */
.pagination-part .pagination {
    margin-top: 63px;
}
.pagination{
    display: inline-flex;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 5px;
}
.pagination>li {
    display: inline;
}
.pagination-part .pagination>li>a, .pagination-part .pagination>li>span{
    position: relative;
    float: left;
    padding: 11px 17px;
    margin-left: 25px;
    line-height: 1.42857143;
    color: #888;
    font-size: 20px;
    text-decoration: none;
    background-color: #fff;
    border:0;
    border-radius: 0; 
}
.pagination-part .pagination>.active>a, 
.pagination-part .pagination>.active>a:focus,
.pagination-part .pagination>.active>a:hover,
.pagination-part .pagination>.active>span,
.pagination-part .pagination>.active>span:focus,
.pagination-part .pagination>.active>span:hover {
    
    color: #fff;
    cursor: pointer;
    background-color:#908edf;
    border-color: #908edf;
}
.pagination-part .pagination>li:nth-child(1)>a,
.pagination-part .pagination>li:nth-child(2)>a,
.pagination-part .pagination>li:nth-child(3)>a{
    border: 1px solid #888;
}
/* Pagination : the end */
.blog-widget{
    position: relative;
    padding: 0 0 34px 0;
}
blog-widget h2{
	color:#4d4e54;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	text-transform: capitalize;
}
.blog-widget .form-control{
    position: relative;
    border-radius: 0;
    box-shadow: none;
    height: 50px;
    border: 1px solid #d7d7d7;
}
.blog-widget input{
    color: #888;
    font-size: 20px;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 38px;
}
.blog-search-icons a{
    color: #888;
    position: absolute;
    top: 10px;
    right: 18px;
    font-size: 20px;
}
.blog-lists{
    margin-top: 20px;
}
.blog-lists ul li a{
 display: inline-block;
 padding: 12px 0 0px;
 color: #888;
 font-size: 16px;
 font-family: 'Poppins', sans-serif;
 text-transform: capitalize;
 transition: all 0.5s linear;
}
.blog-lists ul li a:hover{
    color: #908edf;
    transform: translate(10px);
}
.blog-lists ul li a i{
    padding-right: 10px;
}
.blog-news{
    padding: 38px 0 0;
}
.blog-text{
    display: flex;
    padding: 0px 0 25px;
}
.blog-text a img{
    width: 100%;
    height: 100%;
}
.blog-text p a{
    color: #4d4e54;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    margin-left: 20px;
    line-height: 1.4;
    transition: all 0.5s linear;
}
.blog-text p a:hover{
    color: #7086e6;
}
.blog-text span{
    display: block;
    color: #888;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    padding-top: 8px;
}
/* Blog : the end */
/* Sub-pages: the end */